doctype html
html(style='height:100%;')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/resources.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='icon' href="/images/favicon.png")
    script(src='https://unpkg.com/axios/dist/axios.min.js')
    script(src='/javascripts/resources.js')
    script(src='/javascripts/resourceList.js')
    script(src='/javascripts/users.js')
    script(src='/javascripts/register.js')
    script(src='/javascripts/edit.js')
    script(src='/javascripts/administration.js')
  body(style='height:100%;')
      
      .w3-bar.w3-black.w3-border
        a.w3-bar-item.w3-button.w3-xlarge(href='/' class='fa fa-home') 
        a.w3-bar-item.w3-button.w3-large(href='/resources') RESOURCES
        a.w3-bar-item.w3-button.w3-large(href='/users') USERS
        if auth  
         a.w3-bar-item.w3-button.w3-xlarge.w3-right(href='/users/logout' class='fa fa-sign-out')
         a.w3-bar-item.w3-button.w3-large.w3-right(href='/myaccount') MY ACCOUNT 
        if adminUser == 'admin'
          a.w3-bar-item.w3-button.w3-large.w3-right(href='/administration') ADMIN
      block content
