doctype html
html(style='height:100%; overflow: hidden;')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/resources.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='icon' href="/images/favicon.png")
    script(src='https://unpkg.com/axios/dist/axios.min.js')
    script(src='/javascripts/resources.js')
    script(src='/javascripts/resourceList.js')
    script(src='/javascripts/users.js')
    script(src='/javascripts/register.js')
    script(src='/javascripts/administration.js')
    script(src='/javascripts/edit.js')
  body(style='height:100%;')
      
      .w3-bar.w3-black.w3-border.w3-large
        a.w3-bar-item.w3-button(href='/') Home
        a.w3-bar-item.w3-button(href='/myaccount') My Account
        a.w3-bar-item.w3-button(href='/resources') Resources
        a.w3-bar-item.w3-button(href='/users') Users
        if auth  
         a.w3-bar-item.w3-button.w3-right(href='/users/logout') Logout
      
      block content
