extends ../layout

block content
    .w3-container.w3-blue
        h3 Resource Register Page:
    form.w3-container(action='/resources' method='POST' enctype="multipart/form-data")
        label Title:
        input.w3-input(type="text" name="title")
        br
        label Type:
        input.w3-input(type="text" name="typeR")
        br
        label Creation Date:
        input.w3-input(type="date" name="creDate")
        br
        label(for='visibility') Visibility: 
        select#visibility(name='visibility')
            option(value='Public') Public
            option(value='Private') Private
        br
        br
        label Resource:
        input.w3-input(type="file" name="cover")
        br
        input.w3-btn.w3-blue(type="submit" value="Submit" style="margin-left:10px; margin-top:10px")
