html
  head
    title= title
  body
      header
        h3 Resource 
          table
            tr 
                th Title
                th Type
                th Comments
            tr
                td= res.title
                td= res.typeR
                td= res.comments //Isto está mal, comments é um array